* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

section {
  background-color: #16171d;
}

.wrapper {
  border: 3px solid red;
  display: flex;
  height: 822px;
}

.popular {
  background-color: #6c38cc;
}

.sketch {
  background-color: #e47ad5;
  margin: 60px 0 0 60px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, minmax(100px, 280px));
  grid-template-rows: 350px repeat(3, 46px) 60px;
  row-gap: 11px;
}

.item {
  font-size: 31px;
  border: 1px solid black;
}

.item1 {
  grid-column: span 2;
}
.item8 {
  grid-column: span 2;
}
.sketch-flex {
  display: flex;
  width: 1385px;
  max-width: 100%;
  align-items: flex-start;
  overflow-x: auto;
}
.over {
  width: 1350px;
  overflow: hidden;
}
